%li.subtarea.checked
  %article
    %h4.clickable.subtarea-desplegar
      = tarea.titulo
    .wrap
      %ul.nobullet.nolist.proveedor
        %li.nobullet.table.mtable
          .tcell.t75
            %h5.titulo.uc Proveedor
          .tcell.t75
            %span.precio $2,500
        .notas
          Notas bla blab bla
      %footer
        footer
