/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require foundation
 *= require_self
*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.table{
  display: table;
}
.tcell{
  display: table-cell;
}
.t5{ width: 5%; }
.t10{ width: 10%; }
.t25{ width: 25%; }
.t30{ width: 30%; }
.t33{ width: 33%; }
.t50{ width: 50%; }
.t66{ width: 66%; }
.t75{ width: 75%; }
.t100{ width: 100%; }

ul{
  list-style: square outside;
  padding-left: 0.8em;
}
.nobullet{
  list-style: none;
  > li{
    list-style: none;
  }
}
.nolist{
  display: block;
  margin: 0;
  padding: 0;
  > li{
    display: inline;
    margin: 0;
    padding: 0;
  }
}
