body{
  max-width: 100% !important;
  *{
    max-width: 100% !important;
  }
  header{
    text-align: left;
    padding-top: 20px !important;
  }
  #login{
    font-size: 10px;
  }
  .container{
    #barra, #barrashadow{
      display: none !important;
    }
  }
  .tarea{
    width: 100% !important;
    max-width: 100% !important;
    min-width: 100% !important;
  }
  .table, .tcell{
    width: 100%;
    display: block;
  }
}
